@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model System.String

@{
    ViewBag.Title = "Picture";
    Layout = "_Layout";
}

<body>

    <style>
        #base {
            height: 100%;
            /*text-align: center;*/
        }

            #base img {
                max-height: 95vh;
                max-width: 87vw;
            }

            #base video {
                max-height: 95vh;
                max-width: 87vw;
            }

        .sidenav {
          margin-top: 45px;
          width: 200px;
          position: fixed;
          z-index: 1;
          top: 0px;
          left: 0px;
          background: #333;
          overflow-x: hidden;
          padding: 8px 0;
        }

        .sidenav a {
          padding: 0px 16px;
          text-decoration: none;
          color: #fff;
          display: block;
        }

            .sidenav form {
                margin: 5px;
            }

            .sidenav a:hover {
                background-color: #ddd;
                color: black;
            }

        .main {
          margin-left: 200px;
          /*padding: 0px 10px;*/
        }

        @@media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
        }
    </style>

    <div class="sidenav">
        <form onsubmit="addTag(); return false;" method="get">
            <div style="margin-top: 10px">
                <input name="tags" id="tags-to-add" type="text" />
            </div>
        </form>
        <div id="tags"></div>
        <form onsubmit="return false;" method="get">
            <button type="submit" class="btn btn-primary" onclick="remove()">Delete</button>
        </form>
    </div>

    <div class="main">
        <div id="base">
        </div>
    </div>

    <script>
        var pic = false;

        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media/details",
                data: {
                    id: '@Model'
                },
                success: function (response) {
                    //$("#base").append("<img id='picture' src='@config["ApiHost"]/" + response.path + "' width=33% onclick='minmax()'>");
                    if(response.type.includes("image"))
                        $("#base").append("<img src='@config["ApiHost"]/" + response.path + "'>");
                    if (response.type.includes("video"))
                        $("#base").append("<video preload='metadata' loop controls autoplay muted src='@config["ApiHost"]/" + response.path + "'>");

                    makeList(response.tags);
                }
            });
        });


        function addTag() {
            $.ajax({
                url: "@config["ApiHost"]/api/media/addTags",
                method: "GET",
                data: {
                    id: '@Model',
                    tags: $("#tags-to-add").val()
                },
                success: function (response) {
                    makeList(response.items);
                    $("#tags-to-add").val("");
                },
                error: function (jqXHR) {
                    alert("Can't add tag: " + jQuery.parseJSON(jqXHR.responseText).value.bad_tag + "\nTags should only contain letters and numbers\nAnd be 3 to 32 characters long");
                }
            });
        }

        function remove() {
            $.ajax({
                url: "@config["ApiHost"]/api/media/remove",
                data: {
                    id: '@Model'
                },
                success: function () {
                    location.replace("gallery");
                },
                error: function (jqXHR) {
                    alert(jQuery.parseJSON(jqXHR.responseText).result);
                }
            })
        }

        function makeList(responseItems) {
            if (responseItems == null)
                return;

            for (var i = 0; i < responseItems.length; i++) {
                $("#tags").append("<a href='/gallery/search?tags=" + responseItems[i].name + "'>" + responseItems[i].name + "</a>");
            }
        }

        function minmax() {
            $("#picture").attr("width", pic ? '33%' : '100%');
            pic = !pic;
        }
    </script>
</body>