@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model System.String

@{
    ViewBag.Title = "Picture";
    Layout = "_Layout";
}

<div class="sidenav">
    <form onsubmit="addTag('@config["ApiHost"]', '@Model'); return false;" method="get" id="tag-form" autocomplete="off">
        <div style="margin-top: 10px">
            <input name="tags" id="tags-to-add" type="text" placeholder="Add a tag..." />
        </div>
    </form>
    <ul id="tag-results"></ul>
    <div id="tags"></div>
    <form onsubmit="return false;" method="get">
        <button type="submit" onclick="remove('@config["ApiHost"]', '@Model')">Delete</button>
    </form>
</div>

<div class="main">
    <div id="base">
    </div>

    <form id="comment-form">
        <textarea id="new-comment" rows="2" cols="50" name="new-comment" placeholder="Your comment..."></textarea>
        <br>
        <input type="button" onclick="addComment('@config["ApiHost"]', '@Model')" value="Submit">
    </form>

    <div id="comms"></div>
</div>

<script>
    window.onload += getMediaDetails('@config["ApiHost"]', '@Model');
    window.onload += bindTagSearch('@config["ApiHost"]', '@Model');
</script>