@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model (string id, int page)
@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<body>
    <p id="smth"></p>
    <center id="pages">

    </center>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@config["ApiHost"]/api/media/byTag",
                method: "GET",
                data: {
                    tags: '@Model.id',
                    page: @Model.page
                },
                success: function (response) {
                    if (response.length == 0)
                        return;

                    for (var i = 0; i < response.items.length; i++) {
                            $("#smth").append("<a href='/gallery/picture?id=" + response.items[i].hash + "'>" + "<img src='@config["ApiHost"]/" + response.items[i].thumb + "'>" + "</a>");
                    }

                    if (response.prevPage) {
                        var currentPage = @Model.page;
                        var prevPage = @Model.page - 1;
                        $("#pages").append("<a href='/gallery?page=" + prevPage + "'>Previous</a>")
                    }

                    if (response.nextPage) {
                        var currentPage = @Model.page;
                        var nextPage = @Model.page + 1;
                        $("#pages").append("<a href='/gallery?page=" + nextPage + "'>Next</a>")
                    }
                }
            })
        });
    </script>
</body>

