@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@{
    ViewBag.Title = "Upload";
    Layout = "_Layout";
}
<style>
    *, *::after, *::before {
        box-sizing: border-box;
    }
</style>

<body>
    <form action="@config["ApiHost"]/api/media/upload" method="post" enctype="multipart/form-data" id="file-form">
        <div style="padding-top: 1em">
            <label for="file">Upload File</label>
            <input name="file" type="file" id="file-input" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <form action="@config["ApiHost"]/api/media/uploadfrom" method="get" id="uploadfrom-form">
        <div style="margin-top: 10px">
            <label for="source">Url from web</label>
            <input name="source" type="text" id="link-input"/>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <script>
        const form = document.getElementById("file-form");
        const formFrom = document.getElementById("uploadfrom-form");
        const fileInput = document.getElementById("file-input");

        window.addEventListener('paste', e => {
            fileInput.files = e.clipboardData.files;
            if (!e.clipboardData.getData("text/plain") && e.clipboardData.files.length != 0) {
                $(".modal-body").html("File pasted successfully!");
                $("#modal").addClass("active");
            }
        });

        $(document).on("submit", "#file-form", function (e) {
            e.preventDefault(); //important
            var formData = new FormData(this);

            $.ajax({
                url: "@config["ApiHost"]/api/media/upload",
                method: "POST",
                type: "POST",
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {

                    form.reset();
                    ajaxGet("@config["ApiHost"]/api/media/details",
                        function (uploadResponse) {
                            $(".modal-body").html("Uploaded:<br> <a href='/gallery/picture?id=" + uploadResponse.hash + "'>" + "<img src='@config["ApiHost"]/" + uploadResponse.thumb + "'>" + "</a>");
                            $("#modal").addClass("active");
                        },
                        null,
                        false,
                        { id: response.value.item}
                    );
                },
                error: function (jqXHR) {
                    if (jqXHR.status == "401"){
                        $(".modal-body").html("unauthorized");
                        $("#modal").addClass("active");
                    };
                    $(".modal-body").html(jQuery.parseJSON(jqXHR.responseText).value.item);
                    $("#modal").addClass("active");
                }
            });
        });

        $(document).on("submit", "#uploadfrom-form", function (e) {
            e.preventDefault(); //important
            //var formData = new FormData(this);

            ajaxGet(
                "@config["ApiHost"]/api/media/uploadfrom",
                function (response) {

                    formFrom.reset();
                    ajaxGet("@config["ApiHost"]/api/media/details",
                        function (uploadResponse) {
                            $(".modal-body").html("Uploaded:<br> <a href='/gallery/picture?id=" + uploadResponse.hash + "'>" + "<img src='@config["ApiHost"]/" + uploadResponse.thumb + "'>" + "</a>");
                            $("#modal").addClass("active");
                        },
                        null,
                        false,
                        { id: response.value.item }
                    );
                },
                function (jqXHR) {
                    if (jqXHR.status == "401") {
                        $(".modal-body").html("unauthorized");
                        $("#modal").addClass("active");
                    };
                    $(".modal-body").html(jQuery.parseJSON(jqXHR.responseText).value.item);
                    $("#modal").addClass("active");
                },
                true,
                { source: $("#link-input").val()}
            );
        });
    </script>
</body>